
.quote__grey-m{
  height: 260px;
  top: 53%;
  @include breakpoint('small') {
    height: 400px;
    top: 37%;
  }

  @include breakpoint('medium') {
    height: 497px;
    top: 36%;
  }

}

.about-intro-m{
  display: flex;
flex-direction: column;
  @include breakpoint('small'){
    display: none;
  }
  .about-intro__img{
    margin-bottom:40px;


  }


}
.about-intro-d{
  display:none;
  @include breakpoint('small'){
    padding-top:60px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .about-intro__desc{
    @include breakpoint('small'){
    display: flex;
    flex-direction: column;
    width: 45%;
    .about-intro__p--2,.about-intro__p--1 {
      margin-bottom: 10px;
      }
      .about-intro__title{
        text-align: left;
      }
    }
  }
  .about-intro__img{
    @include breakpoint('small') {
      width: 45%;
    }
  }
}


.quote{
  padding-top: 50px;
  padding-bottom: 50px;
  @include breakpoint('small') {
    display: flex;
  }

  .quote__block{
    position: relative;
    @include breakpoint('small') {
      margin: auto;
      width:60%
    }
  }
  .quote__block--p{
    font-family: 'Optima', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    @include breakpoint('medium') {
      font-size: 22px;
      line-height: 30px;
    }
  }
  svg{
    position: absolute;
    width: 140px;
    height: 24px;
    right: 0px;
    top: 76px;
    @include breakpoint('small') {
      top: 65px;
    }
    @include breakpoint('medium') {
      top: 105px;
    }
  }
}

.closing{
  @include breakpoint('small') {
    padding-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .closing__block{
    @include breakpoint('small') {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .closing__block--title{
    display: none;
    @include breakpoint('small') {
      text-align: left;
      display: block;
    }
  }
}
.closing__block--p,.about-intro__p--2{
  margin-bottom: 20px;

}

.closing__block--p:last-child{
  margin-bottom: 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #DFDFE1;
  @include breakpoint('small') {
    border: none;
  }

}