

.bespoke_m{
  height: 800px;
  top: 16%;
  @include breakpoint('small') {
    height: 340px;
    top: 12%;
  }


}
.bespoke{
  display: flex;
  flex-direction: column;
}

.bespoke-intro{

  display: flex;
  flex-direction: column;
  .bespoke-intro__title{

  }
  .bespoke-intro__p{
    text-align: center;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint("small") {
     text-align: center;
      width: 80%;
      //font-size: 22px;
      //line-height: 30px;
    }
  }
}



.bespoke-layout-mob{
  @include breakpoint("small") {
    display: none;
  }

  .bs-first{

    margin-bottom: 40px;
  }
  .bs-first__img {

  }
  .bs-first__p{

  }

 .bs-second{
  //display: none;
  }

}
.bespoke-layout-desk{
  display:none;
  @include breakpoint("small") {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .main_p{
      font-size: 13px;
      line-height: 18px;

    }
  }
  .bs-left{
    width: 45%;
    .bs-first__img{
      margin-bottom: 40px;
    }

  }
  .bs-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 45%;
  }

  .bs-second__img{
    margin-bottom: 0;
  }

}

.bs-third{
  @include breakpoint("small") {
    padding-bottom: 80px;
    padding-top: 80px;

    .main_p{
      margin: auto;
      font-size: 13px;
      //line-height: 26px;
      text-align: center;
      width: 45%;

    }

  }
  .bs-third__img--m{
    display: block;
    @include breakpoint("small") {
      display: none;

    }
  }
  .bs-third__img--d{
    display: none;
    @include breakpoint("small") {
      display: block;
    }
  }

}