


.bespoke{
  display: flex;
  flex-direction: column;
}

.bespoke-intro{

  display: flex;
  flex-direction: column;




  .bespoke-intro__title{

  }
  .bespoke-intro__p{
    width: 96%;
    margin-left: auto;
    margin-right: auto;

  }
}



.bespoke-layout-mob{
  //padding-top: -2em;
  //position: relative;

  .bs-first{
    //position: relative;
    //height: 80vh;
    margin-bottom: 40px;
  }
  .bs-first__img {
    //top: -50px;
    //position: absolute;
  }
  .bs-first__p{
    //padding-top: 20em;

  }

 .bs-second{
  //display: none;
  }

}
.bespoke-layout-desk{
  display:none;
}