// very important rule to change the main body .containerclass


@media only screen and (min-width: 375px){
}

body{

  @include breakpoint("small") {
    padding-top: 0;
  }
}
.main-custom-container{
  padding: 0;


}
.body {
  margin-bottom: 0;
  margin-top: 2rem;
  @include breakpoint("small") {
    margin-top: 6rem;

  }
}

//end important rule













//////////shared styles

.main_img {
  margin-bottom: 40px;
}

.main_p{
  font-family: 'Optima', serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 40px;
  color: $gray-d;
}

.main_title{
  font-family: 'Optima', serif;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 15px;
  margin-top: 30px;
  color:$gray-d;
  text-align: center;
}

.grey-m{
  position: absolute;
  width: 100%;
  bottom: 31%;
  height: 120vh;
  background-color: $low_gray;
  z-index: -1;
}
.border-helper{
  border-bottom: 1px solid $gray-l;
}

///////


.home-gray{
  height: 74vh;
  bottom: 25%;
  @include breakpoint("small"){
    height: 80vh;
    bottom: 14%;


  }

}




.half-white{
  display: flex;
  flex-direction: column;
  height: 40vh;
  @include breakpoint("small"){
    height: auto;
    padding-top: 40px;

  }

}


.main-intro-desk{
  display:none;
  @include breakpoint("small"){
    display: flex;
    justify-content: space-between;
  }
    .main-intro-desk__left{
      @include breakpoint("small") {
        display: flex;
        flex-direction: column;
        width: 45%;
        p {
          margin-top: 1.5rem;
          font-family: 'Optima', serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 24px;
          color: $gray-d;
        }
      }
      @include breakpoint("medium") {
        width: 40%;
      }
    }
    .main-intro-desk__right {
      @include breakpoint("small") {
        display: flex;
        flex-direction: column;
        width: 45%;
        p {
          font-family: 'Optima', serif;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 30px;
          color: $gray-d;
        }
      }
      @include breakpoint("medium") {
        width: 40%;
      }
    }
}

.main-intro-mob{

  @include breakpoint("small"){
    display:none;

  }
}


.main-intro-mob{
  position: relative;


  .main-intro-mob__title{


    color: $gray-d;
    h3{
      font-family: 'Optima', serif;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
    }
    p{
      font-family: 'Optima', sans-serif;
      line-height: 20px;
    font-size: 14px;
    }

  }
  .main-intro-mob__pics{
    display: flex;
    position: relative;
    padding: 1em 0;
    .main-intro-mob__pics--small{
      position: absolute;
      left: 1em;
      bottom: 0;
    }

  }

}

.my-carousel{
  padding-top: 13em;
  @include breakpoint("small"){
    padding-top: 5em;

  }

}

.page-heading{
  font-family: 'Optima', serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}


//carousel

.card-img-container:after{
  padding-bottom: 100%;
}

.card-title > a,.price--withTax{
  font-family: 'songti',sans-serif;
  color:$gray-d;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.slick-initialized .slick-slide{
  width: 150px;
  height: auto;
  @include breakpoint("small"){
    width: 187px;;


  }
}

  .slick-next::before, .slick-prev::before {
    //@include breakpoint("small"){
    //  width: 30px;
    //  height: 30px;
    //
    //}

  }

