.home-gray{
  height: 472px;
  top: 20%;

  @media only screen
  and (device-width : 375px)
  and (device-height : 812px)
  and (-webkit-device-pixel-ratio : 3) {
    top: 19%;
  }
  @include breakpoint("small"){
    height: 530px;
    top: 16%

  }
  @include breakpoint("medium"){
    height: 735px;
    top: 19%
  }
  @include breakpoint("large"){
    height: 777px;
    top: 21%
  }

}





.half-white{
  display: flex;
  flex-direction: column;

  @include breakpoint("small"){
    height: auto;
    padding-top: 40px;
  }
  @include breakpoint("medium"){

    padding-top: 60px;
  }
}


.main-intro-desk{
  display:none;
  @include breakpoint("small"){
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }
    &__left{
      @include breakpoint("small") {
        display: flex;
        flex-direction: column;
        width: 45%;
        .main_img{
          margin-bottom: 0;
        }
        p {
          margin-top: 1.5rem;
          font-family: 'Optima', serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 24px;
          color: $gray-d;
        }
      }
      @include breakpoint("medium") {
        p {

          font-size: 24px;
          line-height: 30px;

        }

      }
    }
    &__right {
      @include breakpoint("small") {
        display: flex;
        flex-direction: column;
        width: 45%;
        .main_img{
          margin-bottom: 0;
        }
        p {
          font-family: 'Optima', serif;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 30px;
          color: $gray-d;
        }
      }
      @include breakpoint("medium") {
        p {
          font-size: 34px;
          line-height: 40px;
        }
      }
    }
}

.main-intro-mob{

  @include breakpoint("small"){
    display:none;

  }
}


.main-intro-mob{
 margin-bottom: 40px;


  .main-intro-mob__title{


    color: $gray-d;
    h3{
      font-family: 'Optima', serif;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
    }
    p{
      font-family: 'Optima', sans-serif;
      line-height: 20px;
    font-size: 14px;
    }

  }
  .main-intro-mob__pics{
    display: flex;
    position: relative;
    padding: 1em 0;
    .main-intro-mob__pics--small{
      width: 101px;
      position: absolute;
      left: 1em;
      bottom: 0;
    }

  }

}

.full-width-back-home{
  background-color: $low_gray;
  padding-bottom: 30px;
  @include breakpoint("small"){
    padding-bottom: 60px;

  }

  @include breakpoint("large") {
    width: 500%;
    margin-left: -200%;
  }
}

.my-carousel{



  .main_title{
    margin-bottom: 26px;
    @include breakpoint("small"){
      margin-top: 0;
      margin-bottom: 40px;
    }
    @include breakpoint("medium"){
      margin-top: 0;
      margin-bottom: 65px;
    }
  }
}

.page-heading{
  font-family: 'Optima', serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}


//carousel

.card-img-container:after{
  padding-bottom: 100%;
}

.card-title > a,.price--withTax{
  font-family: 'songti',sans-serif;
  color:$gray-d;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}
.productCarousel{

  //margin-bottom: 40px;
}

.productCarousel-slide{
  width: 150px;
  height: auto;
  @include breakpoint("small"){
    width: 187px;
    .card-body {
      text-align: center;
    }
  }
  @include breakpoint("medium"){
    width: 250px;

  }
  @include breakpoint("large"){
    width: 285px;
  }
}





  /////////////////////// CATALOG


.catalog{
  display:none;
  @include breakpoint("small"){
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    .catalog__title{
      margin: 40px 0;
    }
  }
  @include breakpoint("medium"){
    .catalog__title{
      margin: 65px 0;
    }

  }
}

.catalog__block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

//.c-left{
//  display: flex;
//  flex-direction: row;
//  width: 49%;
//  justify-content: space-between;
//  .c-one-two{
//    display: flex;
//    flex-direction: column;
//    justify-content: space-between;
//    width: 47%;
//    .c-one{
//
//    }
//  }
//  .c-three{
//    width: 47%;
//    //padding-left: 15px;
//    //padding-right: 15px;
//
//  }
//}
//.c-right{
//  display:flex;
//  flex-direction: column;
//  justify-content: space-between;
//  width: 48%;
//  .c-four-five{
//    display:flex;
//    flex-direction: row;
//    justify-content: space-between;
//
//
//    .c-four{
//      width: 47%;
//    }
//    .c-five{
//      width: 47%;
//    }
//
//  }
//  .c-six{
//
//
//
//  }
//}

$cat_width_pad: 13px;
$cat_height_pad: 13px;
//@include breakpoint("medium"){
//  $cat_width_pad: 14px;
//  $cat_height_pad: 14px;
//}
.c-left{
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  .c-one-two{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //@include breakpoint("small"){
    //  width: 134%;
    //}
    //@include breakpoint("medium"){
    //  width: auto;
    //}


    .c-one{
      padding-bottom: $cat_height_pad;
      padding-right:$cat_width_pad;

    }
    .c-two{
      padding-top: $cat_height_pad;
      padding-right:$cat_width_pad;
    }
  }
  .c-three{

    padding-left: $cat_width_pad;
    padding-right: $cat_width_pad;
    //@include breakpoint("medium"){
    //  width: 94%;
    //}
    //@include breakpoint("large"){
    //  width: 84%;
    //}

  }
}
.c-right{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  //@include breakpoint("large"){
  //  width: 51%;
  //}
  .c-four-five{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    .c-four{
      padding-left: $cat_width_pad;
      padding-bottom: $cat_height_pad;
      padding-right: $cat_width_pad;
    }
    .c-five{
      padding-left: $cat_width_pad;
      padding-bottom: $cat_height_pad;

    }

  }
  .c-six{
    padding-top: $cat_height_pad;
    padding-left: $cat_width_pad;
  }
}


.catalog-slider{
  @include breakpoint("small"){
    display: none;
  }
  &__title{
    margin-bottom: 26px;
    @include breakpoint("small"){
      margin-top: 0;
      margin-bottom: 40px;
    }


  }
}

.catalogCarousel{


}
.catalogCarousel-slide{
  width: 245px;
  height: auto;
  margin-right: 8px;
  margin-bottom: 40px;

  @include breakpoint("small"){

  }

}

.instagram{
  display: flex;
  flex-direction: column;
  //padding-top: 40px;


  @include breakpoint("small"){

    padding-bottom: 80px;

  }
  .instagram__header{
    .main_title{
    margin-top: 15px;
    }
    .instagram__header--m{
      text-align: center;


      @include breakpoint("small"){
        display: none;
      }
    }
    .instagram__header--d{
      display: none;
      @include breakpoint("small"){
        display: block;
        text-align: center;
      }
    }
  }
}


.instaCarousel{
  padding-bottom: 40px;
  border-bottom: 1px solid $gray-l;
  @include breakpoint("small"){
    display: none;
  }

}
.instaCarousel-slide{
    width: 128px;
    height: auto;
    margin-right: 8px;

}

.instagram__feed{
  display: none;
  @include breakpoint("small"){
    display:flex;
    flex-direction: row;
    justify-content: space-between;

  }
  .instagram__feed--item{
    width: 18%;
    @include breakpoint("small"){

      width: 19%;
    }

  }

  }




.slick-next::before, .slick-prev::before {

height: 1rem;
  width: 10px;
}
.slick-next, .slick-prev {
  display: none;
   background-color: white;
   background-color: rgba(255, 255, 255, 0.9);
  width: 34px;
  height: 34px;
  border-radius: 34px;
  top:42%;
  @include breakpoint("large"){
    display: block;
    right:-13px;

  }

}
.slick-prev {
  display: none;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  width: 34px;
  height: 34px;
  border-radius: 34px;
  @include breakpoint("large"){
    display: block;
    left:-13px;

  }
}






