.home-gray{

  height: 600px;
  top: 28%;
  @include breakpoint("small"){
    height: 655px;
    top: 20%

  }

}


.half-white{
  display: flex;
  flex-direction: column;
  height: 40vh;
  @include breakpoint("small"){
    height: auto;
    padding-top: 40px;
  }
}


.main-intro-desk{
  display:none;
  @include breakpoint("small"){
    display: flex;
    justify-content: space-between;
  }
    .main-intro-desk__left{
      @include breakpoint("small") {
        display: flex;
        flex-direction: column;
        width: 45%;
        p {
          margin-top: 1.5rem;
          font-family: 'Optima', serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 24px;
          color: $gray-d;
        }
      }
      @include breakpoint("medium") {
        p {

          font-size: 34px;
          line-height: 40px;

        }

      }
    }
    .main-intro-desk__right {
      @include breakpoint("small") {
        display: flex;
        flex-direction: column;
        width: 45%;
        p {
          font-family: 'Optima', serif;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 30px;
          color: $gray-d;
        }
      }
      @include breakpoint("medium") {
        p {
          font-size: 34px;
          line-height: 40px;
        }
      }
    }
}

.main-intro-mob{

  @include breakpoint("small"){
    display:none;

  }
}


.main-intro-mob{
  position: relative;


  .main-intro-mob__title{


    color: $gray-d;
    h3{
      font-family: 'Optima', serif;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
    }
    p{
      font-family: 'Optima', sans-serif;
      line-height: 20px;
    font-size: 14px;
    }

  }
  .main-intro-mob__pics{
    display: flex;
    position: relative;
    padding: 1em 0;
    .main-intro-mob__pics--small{
      width: 101px;
      position: absolute;
      left: 1em;
      bottom: 0;
    }

  }

}

.my-carousel{
  padding-top: 13em;
  @include breakpoint("small"){
    padding-top: 5em;

  }

}

.page-heading{
  font-family: 'Optima', serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}


//carousel

.card-img-container:after{
  padding-bottom: 100%;
}

.card-title > a,.price--withTax{
  font-family: 'songti',sans-serif;
  color:$gray-d;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.productCarousel-slide{
  width: 150px;
  height: auto;
  @include breakpoint("small"){
    width: 187px;
  }
}

  .slick-next::before, .slick-prev::before {


  }



  /////////////////////// CATALOG


.catalog{
  display:none;
  @include breakpoint("small"){
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    .catalog__title{
      margin: 40px 0;
    }
  }
}

.catalog__block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

//.c-left{
//  display: flex;
//  flex-direction: row;
//  width: 49%;
//  justify-content: space-between;
//  .c-one-two{
//    display: flex;
//    flex-direction: column;
//    justify-content: space-between;
//    width: 47%;
//    .c-one{
//
//    }
//  }
//  .c-three{
//    width: 47%;
//    //padding-left: 15px;
//    //padding-right: 15px;
//
//  }
//}
//.c-right{
//  display:flex;
//  flex-direction: column;
//  justify-content: space-between;
//  width: 48%;
//  .c-four-five{
//    display:flex;
//    flex-direction: row;
//    justify-content: space-between;
//
//
//    .c-four{
//      width: 47%;
//    }
//    .c-five{
//      width: 47%;
//    }
//
//  }
//  .c-six{
//
//
//
//  }
//}

$cat_pad: 12px;
.c-left{
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  .c-one-two{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .c-one{
      padding-bottom: $cat_pad;
      padding-right:$cat_pad;

    }
    .c-two{
      padding-top: $cat_pad;
      padding-right:$cat_pad;
    }
  }
  .c-three{

    padding-left: $cat_pad;
    padding-right: $cat_pad;

  }
}
.c-right{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  .c-four-five{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    .c-four{
      padding-left: $cat_pad;
      padding-bottom: $cat_pad;
      padding-right: $cat_pad;
    }
    .c-five{
      padding-left: $cat_pad;
      padding-bottom: $cat_pad;

    }

  }
  .c-six{
    padding-top: $cat_pad;
    padding-left: $cat_pad;
  }
}


.catalogCarousel-slide{
  width: 245px;
  height: auto;
  margin-right: 8px;

  @include breakpoint("small"){

  }

}


