#map {
  height: 240px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */

  @include breakpoint('small'){
    height: 500px;
  }
}

.contact-gray{
  height: 482px;
  top: 24%;
  @include breakpoint('small'){
    top: 33%;

  }
  @include breakpoint('medium'){
    height: 528px;
    top: 40%;
  }
}

.contacts-header{
  display: flex;
  flex-direction: column;
  @include breakpoint('small'){
    display: none;
  }
  .main_title{
    margin-bottom: 30px;
  }
}
.contacts-intro{
  @include breakpoint('small'){
    padding-top: 60px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    &__img{
      width: 50%;

    }
  }
}
.contacts-intro__address{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  @include breakpoint('small'){
    flex-direction: column;
    justify-content: flex-start;
  }
  .contacts-intro__title{
    display: none;
    @include breakpoint('small'){
      display: block;
      font-style: normal;
      text-align: left;
    }
    @include breakpoint('medium'){
     margin-top: 50px;
    }
  }

  .online-contact{
    width: 50%;
    display: flex;
    flex-direction: column;


    .main_p{
      font-style: normal;
      text-decoration: none;
      margin-bottom: 10px;
    }


  }

  .physical-contact{
    width: 50%;
    font-style: normal;
    @include breakpoint('small'){
      width: 100%;
    }

  }
}

.mapHelper{
  padding-bottom: 40px;
  border-bottom: 1px solid $gray-l;

}