.categoryNav__block{
  display: flex;
  @include breakpoint("medium") {

    margin: 60px 0;
  }
}
.categoryNav{
  @include breakpoint("small") {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin: auto;
  }
}




.shop{
  @include breakpoint("small") {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.shop-section{
  @include breakpoint("small") {
    margin-bottom: 60px;
  }

  .main_title{
    margin-bottom: 30px;
    margin-top: 20px;
    @include breakpoint("small") {
      margin-bottom: 50px;
    }
  }
}

.shop-slide{
  width: 135px;
  padding-right: 10px;
  @include breakpoint("small") {
    width: width("3/12");;
    padding-right: 20px;
  }
  @include breakpoint("medium") {

    padding-right: 30px;
    margin-bottom: 50px;
  }
  .card-body{
    @include breakpoint("small") {
      padding-top: 20px;
      text-align: center;
    }
    .card-title{
      margin:auto;
    }
  }
  .card{
    margin-bottom: 0;
  }

}

.categoryNav{
  display: flex;
  flex-direction: row;
  @include breakpoint("small") {

  }
}

.categoryNav-slide{
  padding: 20px spacing('half');
  margin-bottom: 0px;
  margin-top: 0px;
  @include breakpoint("medium") {
    //margin-bottom: 20px;
    padding: 0 spacing('single');

  }
}

.category-nav-item{
  color:rgba($gray-d,.5);
  text-underline: none;
  text-decoration: none;
  font-size: 14px;
}


.categoryNav-slide > .activeLink {
  position: relative;
  color: $gray-d;
  text-decoration: none;
}

.categoryNav-slide > .activeLink {
  color: $gray-d;
}

.categoryNav-slide > .category-nav-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -4px;
  left: 0;
  background-color: $gray-d;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.categoryNav-slide > .activeLink:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

//.categoryNav .slick-center a{
//  text-decoration: underline;
//  color:$gray-d;
//
//}

//.activeLink{
//  @include breakpoint("small") {
//    color: $gray-d;
//    text-decoration: underline;
//  }
//}
