.swal2-modal .swal2-content{
  font-family: 'Optima', serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

}
.swal2-confirm{
  border: none;
  border-radius: 0;
  margin: 30px 0;
  font-family: songti;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: $gray-d;

  padding-top: 14px;
  padding-bottom:14px;

}
.swal2-cancel{
  border-radius: 0;
  margin: 30px 0;
  font-family: songti;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $gray-d;
  text-decoration: none;
  padding-top: 13px;
  padding-bottom:13px;

}