.productGrid-flex{

  display: flex;
  flex-direction: column;
  margin: 0;
  @include breakpoint("small") {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

  }
  .product{
    @include breakpoint("small") {
      width: width("3/12");;
      padding-right: 20px;

    }
    @include breakpoint("medium") {
      //width: 230px;
      padding-right: 30px;
      margin-bottom: 50px;
    }
    .card-title{
      text-align: center;
    }
    .card-text{
      text-align: center;
    }

  }
}

.view-more {
  display: none;
  @include breakpoint("small") {
    display: block;
    font-family: songti;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    background-color: #555465;
    width: 230px;
    padding: 14px 0;
    margin: auto;
  }
  &__btn{


  }

}
