
<div class="grey-m contact-gray"></div>
{{#partial "page"}}
 {{!--   {{inject 'iconLocation' theme_settings.productthumb_size}}--}}

{{!--{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}--}}

    <div class="container contacts-header">
        {{#unless theme_settings.hide_contact_us_page_heading }}
            <h1 class="main_title">{{page.title}}</h1>
        {{/unless}}
    </div>

    <div class="container contacts-intro">

        <div class="contacts-intro__img">
{{!--            <img class=" main_img" src="{{cdn 'webdav:handmade-m.jpg'}}">--}}
            <img class=" main_img" src="{{cdn 'webdav:handmade-d.jpg'}}">
        </div>

        <address class="contacts-intro__address">
            <h2 class="contacts-intro__title main_title">{{page.title}}</h2>
            <div class="online-contact">
                <a href="tel:+447707270936" class="main_p">07707270936</a>
                <a href="mailto: hello@skylarking.com" class="main_p">hello@skylarking.com</a>
            </div>
            <div class="physical-contact main_p">
                10 Birmingham Road <br>
                Cowes<br>
                Isle of Wight<br>
                PO31 7BH
            </div>
        </address>
    </div>



    {{#if page.sub_pages}}
        <nav class="navBar navBar--sub">
            <ul class="navBar-section account-navigation">
                {{#each page.sub_pages}}
                    <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
                {{/each}}
            </ul>
        </nav>
    {{/if}}

<div class="google-map container">
    <div class="mapHelper">
        <div id="map"></div>
    </div>
</div>


<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgrwvg2tZEZpRfbWhDkEpOoFK8KBnVEnI&callback=initMap">
</script>



{{/partial}}

{{> layout/base}}
