---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---

{{!--{{#partial "hero"}}
    {{{region name="home_below_menu"}}}
    {{#if carousel}}
        {{> components/carousel arrows=theme_settings.homepage_show_carousel_arrows}}
    {{/if}}
    {{{region name="home_below_carousel"}}}
{{/partial}}--}}

<div class="grey-m home-gray"></div>

{{#partial "page"}}
    {{inject 'pageType' page_type}}
    <div class="half-white">
        <div class="main-intro-desk container">
            <div class="main-intro-desk__left">
                <img class="main_img"  src="{{cdn 'webdav:home-page/necklace-d.jpg'}}">
                <p>{{lang "home.intro_left"}}</p>

            </div>
            <div class="main-intro-desk__right">
                <p>{{lang "home.intro_right"}}</p>
                <img class="main_img" src="{{cdn 'webdav:home-page/bracelets-d.jpg'}}" >
            </div>

        </div>
        <div class="main-intro-mob container">
            <div class="main-intro-mob__title">
                <h3>{{lang "home.intro_right"}}</h3>
                <p>{{lang "home.intro_left"}}</p>

            </div>
            <div class="main-intro-mob__pics">
                <div class="main-intro-mob__pics--big">
                    <img  src="{{cdn 'webdav:home-page/necklace-m.jpg'}}" >
                </div>
                <div class="main-intro-mob__pics--small">
                    <img  src="{{cdn 'webdav:home-page/bracelets-m.jpg'}}" >
                </div>
            </div>
        </div>
    </div>


        <div class="container my-carousel">
            {{#if products.new}}
                {{> components/products/new products=products.new columns=theme_settings.homepage_new_products_column_count}}
            {{/if}}
            {{{region name="home_below_new_products"}}}
        </div>


    <div class="container catalog">
        <h3 class="catalog__title main_title">{{lang "home.catalog"}}</h3>
        <div class="catalog__block">
            <div class="c-left">
                <div class="c-one-two">
                    <div class="c-one">
                        <a href="/shop/bracelets/">
                            <img alt="Bracelets" src="{{cdn 'webdav:home-catalog/bracelets.jpg'}}">
                        </a>
                    </div>
                    <div class="c-two">
                        <a href="/shop/rings/">
                            <img alt="rings" src="{{cdn 'webdav:home-catalog/rings.jpg'}}">
                        </a>
                    </div>
                </div>
                <div class="c-three">
                    <a href="/shop/earrings/">
                        <img alt="earrings" src="{{cdn 'webdav:home-catalog/earrings.jpg'}}">
                    </a>
                </div>
            </div>
            <div class="c-right">
                <div class="c-four-five">
                    <div class="c-four">
                        <a href="/shop/bangels/">
                            <img alt="bangels" src="{{cdn 'webdav:home-catalog/bangels.jpg'}}">
                        </a>
                    </div>
                    <div class="c-five">
                        <a href="/shop/hoop-earrings/">
                            <img alt="hoop-earrings" src="{{cdn 'webdav:home-catalog/hoop-earrings.jpg'}}">
                        </a>
                    </div>
                </div>
                <div class="c-six">
                    <a href="/shop/necklaces/">
                        <img alt="necklaces" src="{{cdn 'webdav:home-catalog/necklaces.jpg'}}">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class=" container catalog-slider">
        <h3 class="catalog-slider__title main_title">{{lang "home.catalog"}}</h3>
                <section class="catalogCarousel"
                         data-slick-catalog='{}'>
                    {{#each categories}}
                        {{#if name '==' 'Shop'}}
                            {{#each children}}
                                {{#if name '==' 'All'}}

                                {{else}}
                                <div class="catalogCarousel-slide">
                                    <a href="{{url}}">
                                        <img src="{{getImage image "default"}}" alt="{{image.alt}}">
                                    </a>
                                </div>
                                {{/if}}
                            {{/each}}
                        {{/if}}
                    {{/each}}
                </section>
    </div>



    <div class="container instagram">
        <div class="instagram__header">
            <h3 class="main_title">{{lang 'home.instagram_title'}}</h3>
            <p class="main_p instagram__header--m">{{lang 'home.instagram_p_m'}}</p>
            <p class="main_p instagram__header--d">{{lang 'home.instagram_p_d'}}</p>

        </div>
        <section class="instaCarousel"
                 data-slick-insta='{}'>
        </section>
        <div class="instagram__feed">

        </div>


    </div>








    {{#each shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

{{!--<div class="main full">--}}
   {{!-- {{#if products.featured}}
        {{> components/products/featured products=products.featured columns=theme_settings.homepage_featured_products_column_count}}
    {{/if}}
    {{{region name="home_below_featured_products"}}}--}}

    {{!--{{#if products.top_sellers}}
        {{> components/products/top products=products.top_sellers columns=theme_settings.homepage_top_products_column_count}}
    {{/if}}
    {{{region name="home_below_top_products"}}}--}}

   {{!-- {{#if products.new}}
        {{> components/products/new products=products.new columns=theme_settings.homepage_new_products_column_count}}
    {{/if}}
    {{{region name="home_below_new_products"}}}--}}

{{!--</div>--}}
{{/partial}}
{{> layout/base}}
