.footer{

  border-top: none;
  //.footer-info{
  //  padding-top: 3rem;
  //  border-top: 1px solid $gray-l;
  //}
  @include breakpoint("small") {
    //.footer-info{
    //  padding-top: 0;
    //}

    background-color: $low_gray;
  }
}
.footer-info{
  @include breakpoint("small") {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 80px;

    .footer-info-heading{
      text-align: left;
    }
  }
}
.footer-logo__block{
  width: 70%;


}

.footer-info-col{
  margin-bottom: 0;
    @include breakpoint("medium") {
      width: width("6/12");
    }
}
.footer-info-col--small{
  display: none;
  @include breakpoint("small") {
    display: inline-block;

  }

}

.form{
  display:flex;
}
.form-fieldset{
  margin:auto;
  width: 70%;
  @include breakpoint("small") {
    margin: 0;
    width: 100%;
  }
}
.form-input{
border-radius: 0;
  border-color: #DEDEE0;
  font-family: 'songti',sans-serif;
  font-weight: normal;
  color:$gray-d;

}

.form-prefixPostfix{
  position: relative;

  .hbtn{
    padding:0;
    border: none;
    margin: 0;
  }

}


.footer-info-heading, .footer-info-list a {
  font-family: 'songti',sans-serif;
  color:$gray-d;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 21px;
}


.custom-arrow-submit{
  display: flex;
  position: absolute;
  width: 50px;
  height: 100%;
  right: 0px;
  //top: 20px;
  .custom-arrow-submit__input{
    display: none;
  }


  svg{
margin: auto;
    width:20px;
    height: 20px;

  }

}


.footer-copyright{
  padding-top: 2em;
  border-top: 1px solid #DFDFE1;

}

.powered-by{
  font-family: 'songti',sans-serif;
  font-weight: normal;
  color:$gray-d;
  font-size: 16px;
  line-height: 24px;
}