/// color palate variables

$gray-d :#555465;
$gray-m: rgba($gray-d ,.6);
$gray-l :#DEDEE0;

//
.header{
 border:none;
  position: fixed;
  height: 75px;
  @include breakpoint("small") {
    display: flex;
    flex-direction: row-reverse;
    overflow: visible;
    //position: relative;
    //position: fixed;
    //width: 500px;
    //height: 200px;
    margin: 0 auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
  }

  &.is-open {
    @include breakpoint("small") {
      height: auto;
    }
  }
 }

.header-border{
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  border-bottom: 1px solid #ECEAEA;

}


.navPages-item-page-for-mobile{

  @include breakpoint("small") {
   display: none;
  }
}
.navPages-item-page{
  display: none;
  @include breakpoint("small") {
    display: block;
  }

}



.header-logo {
  display: flex;
  font-size: 0;
  text-align: center;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid #DFDFE1;
  height: 75px;
  @include breakpoint("small") {

    width: auto;
    left: 0;
    border-bottom: none;
  }
}
.header-logo > a {
  margin: auto;
  color: #333333;
  display: inline-block;
  padding:  -1em;
  position: relative;
  text-decoration: none;
  width: 30%;
  z-index: 20;
  @include breakpoint("small") {
    width: 40%;
    padding-top:1em;
    }
}


.navPages-container {

  @include breakpoint("small") {
    width: 32%;
    background: transparent;
    display: block;
    height: auto;
    padding: 0;
    position: relative;
  }
}
.navPages-container.is-open{
  padding-top:74px;
}
.navPages-list {
  @include breakpoint("small") {

    display: flex;
    flex-direction: row;

  }
}

.navPages {

  @include breakpoint("small") {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 0;
    .navPages-item{
      margin-top: auto;
      margin-bottom: auto;
    }


    //@include grid-row(); // 1
    //@include nav($style: "navBar", $wrapper: "nav");
    //background: none;
    //font-size: 0; // 1
    //overflow-y: visible;
    //padding: 0;
    //text-align: center;
    .navPages-quickSearch,.navPages-list--user{
      display: none;
    }
  }



  .navPage-subMenu-list {

    @include breakpoint("small") {

      @include grid-row();
      border-left: 0;
      margin: auto;
      padding-left: 0;

    }
  }
}





.mobileMenu-toggle {

  padding: 0 1.5rem;
  top: 1rem;
  @include breakpoint("small") {
    display: none;
  }

}

.mobileMenu-toggle .mobileMenu-toggleIcon{
  background: $gray-d;
  width: 1rem;
}
.mobileMenu-toggle .mobileMenu-toggleIcon, .mobileMenu-toggle .mobileMenu-toggleIcon::before, .mobileMenu-toggle .mobileMenu-toggleIcon::after{

  background: $gray-d;
  height: 1px;

}

.countPill{
  position: absolute;
  height: 10px;
  width: 10px;
  line-height: 10px;
  font-size: 11px;
  top: 21px;
  right: 16px;

}
.navUser{
  right: 6px;
  top: 40px;
  @include breakpoint("small") {
    height: 100%;
    width: 32%;
    transform: none;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0;
    top: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    .navUser-section{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;

    }
    .navUser-item{
      margin-top: auto;
      margin-bottom: auto;
    }




    //padding: 0 spacing("single");
    //position: relative;
    //right: auto;
    //top: auto;
    //transform: none;
    //z-index: zIndex("high");
  }
}
.navUser-section {
  @include breakpoint("small") {
    position: relative;
    //.navUser-item{
    //  display: none;
    //}
    //.navUser-item--cart{
    //  display: block;
    //
    //}
  }
}


  .navPages-action{
    @include breakpoint("small") {
      padding: 1em 1em 1em 1em;
      font-family: 'Optima', serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: $gray-d;
      text-transform: inherit;

    }
  }

  .navPages ul :first-child a{
    @include breakpoint("small") {
      padding: 1em 1em 1em 0em;

    }
  }



.navUser-action{
  position: relative;
  z-index: zIndex("low");
  padding: 1em ;
  @include breakpoint("small") {
    padding: 1em 0em 1em 1em;
    font-family: 'Optima', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $gray-d;
    text-transform: inherit;
  }
}



.navUser-action svg{
  margin-top: 10px;
  fill: #515060;
  stroke:#515060;
  width: 20px;
  height: 20px;
  @include breakpoint("small") {
   display: none;
  }
}
.navUser-item {


  @include breakpoint("small") {
    display: block;

    &.navUser-item--social {
      margin-top: rem-calc(5px);
      padding-right: rem-calc(5px);
    }

    &.navUser-item--divider {
      font-size: rem-calc(25px);
      margin-top: rem-calc(8px);
      padding-left: rem-calc(2px);
    }
  }
}