<section class=" shop-section">
<h2 class="main_title">Leaf and flora</h2>
<div class="shop"
     data-list-name="{{list}}"
     data-slick-shop='{}'>
    {{#each products}}
        {{#if this.brand.name '==' 'Leaf and flora' }}
            <div class="shop-slide">
                {{>components/products/card settings=../settings show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event=../event position=(add @index 1)}}
            </div>
        {{/if}}

    {{/each}}
</div>
</section>

<section class=" shop-section">
<h2 class="main_title">Beaded collection</h2>
<div class="shop" data-list-name="{{list}}"
     data-slick-shop='{}'>
    {{#each products}}
        {{#if this.brand.name '==' 'Beaded' }}
            <div class="shop-slide">
                {{>components/products/card settings=../settings show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event=../event position=(add @index 1)}}
            </div>
        {{/if}}
    {{/each}}
</div>
</section>
<section class=" shop-section">
    <h2 class="main_title">Bamboo and Pental</h2>
    <div class="shop "
         data-list-name="{{list}}"
         data-slick-shop='{}'>
        {{#each products}}
            {{#if this.brand.name '==' 'Bamboo' }}
                <div class="shop-slide">
                    {{>components/products/card settings=../settings show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event=../event position=(add @index 1)}}
                </div>
            {{/if}}
        {{/each}}
    </div>
</section>

<section class=" shop-section">
    <h2 class="main_title">Forge collection</h2>
    <div class="shop"
         data-list-name="{{list}}"
         data-slick-shop='{}'>
        {{#each products}}
            {{#if this.brand.name '==' 'Forge' }}
                <div class="shop-slide">
                    {{>components/products/card settings=../settings show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event=../event position=(add @index 1)}}
                </div>
            {{/if}}
        {{/each}}
    </div>
</section>
<section class=" shop-section">
    <h2 class="main_title">Oxidized</h2>
    <div class="shop"
         data-list-name="{{list}}"
         data-slick-shop='{}'>
        {{#each products}}
            {{#if this.brand.name '==' 'Oxidized' }}
                <div class="shop-slide">
                    {{>components/products/card settings=../settings show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event=../event position=(add @index 1)}}
                </div>
            {{/if}}
        {{/each}}
    </div>
</section>

<section class=" shop-section shop-section-last ">
    <h2 class="main_title">Reflections</h2>
    <div class="shop"
         data-list-name="{{list}}"
         data-slick-shop='{}'>
        {{#each products}}
            {{#if this.brand.name '==' 'Reflections' }}
                <div class="shop-slide">
                    {{>components/products/card settings=../settings show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event=../event position=(add @index 1)}}
                </div>
            {{/if}}
        {{/each}}
    </div>
</section>

<section class=" shop-section shop-section-last ">
    <h2 class="main_title">Classic</h2>
    <div class="shop"
         data-list-name="{{list}}"
         data-slick-shop='{}'>
        {{#each products}}
            {{#if this.brand.name '==' 'Classic' }}
                <div class="shop-slide">
                    {{>components/products/card settings=../settings show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event=../event position=(add @index 1)}}
                </div>
            {{/if}}
        {{/each}}
    </div>
</section>


