<section class="container shop-section you-may-like">
    <h2 class="main_title">You may also like</h2>
    <div class="shop"
         data-list-name="{{list}}"
         data-slick-shop='{}'>
        {{#each products}}
      {{!--      {{#if this.brand.name '==' 'Leaf and flora' }}--}}
                <div class="shop-slide">
                    {{>components/products/card settings=../settings show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event=../event position=(add @index 1)}}
                </div>
         {{!--   {{/if}}--}}

        {{/each}}
    </div>
</section>